<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>button-default-default.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{32,24}</string>
        <key>spriteSourceSize</key>
        <string>{32,24}</string>
        <key>textureRect</key>
        <string>{{0,0},{32,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button-default-pressed.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{32,24}</string>
        <key>spriteSourceSize</key>
        <string>{32,24}</string>
        <key>textureRect</key>
        <string>{{32,0},{32,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button-default-focus-left.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{16,24}</string>
        <key>spriteSourceSize</key>
        <string>{16,24}</string>
        <key>textureRect</key>
        <string>{{64,0},{16,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button-default-focus-right.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{16,24}</string>
        <key>spriteSourceSize</key>
        <string>{16,24}</string>
        <key>textureRect</key>
        <string>{{80,0},{16,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>buttons.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:9c768fe6828cb6c075550d20fcd572e4:4d9c4c023ac2e79911a281ae6c21e22a:e75714c0871c497b76d71a94e9da90fb$</string>
      <key>textureFileName</key>
      <string>buttons.png</string>
    </dict>
  </dict>
</plist>