<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>lea-00.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{1,1},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-01.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{50,1},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-02.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{1,50},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-03.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{50,50},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-04.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{99,1},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-05.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{99,50},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-06.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{1,99},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-07.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{50,99},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-08.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{99,99},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-09.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{148,1},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-10.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{148,50},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-11.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{148,99},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-12.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{1,148},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-13.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{50,148},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-14.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{99,148},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>lea-15.png</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,48}</string>
        <key>spriteSourceSize</key>
        <string>{48,48}</string>
        <key>textureRect</key>
        <string>{{148,148},{48,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>loading.png</string>
      <key>size</key>
      <string>{195,195}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:9c768fe6828cb6c075550d20fcd572e4:4d9c4c023ac2e79911a281ae6c21e22a:e75714c0871c497b76d71a94e9da90fb$</string>
      <key>textureFileName</key>
      <string>loading.png</string>
    </dict>
  </dict>
</plist>